
@charset "utf-8";
body {
    background-attachment: scroll;
    background-color: #f7fcf8;
    background-position: center top;
    background-repeat: repeat-x;
    color: #3c6f75;
    margin: 0;
    padding: 0;
}
div, h1, h2, h3, h4, p, form, label, input, textarea, img, span {
    margin-bottom: 5px;
    padding: 0;
}
a {
    color: #9ca27e;
}
h1 {
    color: #d0910b;
    font-family: Georgia;
    font-size: 45px;
    font-weight: normal;
    margin: 0;
    padding: 0 0 20px;
    text-decoration: none;
    width: 540px;
}

h3{
    font-size:16px;
}

ul {
    color: #9ca27e;
    line-height: 25px;
    list-style-type: unset;
    padding-left: 20px;
    text-align: left;
}

textarea.wide{
    width:100%;
}

.breadcrumb {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px dashed #b9d7d4;
    border-radius: 0;
    list-style: outside none none;
    margin: 0 0 20px;
    padding: 8px 15px;
}
.breadcrumbs li {
    display: inline-block;
}
#header {
    background-image: url("../images/header_bg.png");
}
#content {
    background: url("../images/body_bg.png") repeat-x scroll 0 0 #fefefe;
    clear: both;
}
#topheader {
    background-position: center center;
    background-repeat: no-repeat;
    color: #dcd66e;
    float: none;
    font-family: Tahoma;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    height: 100px;
    line-height: normal;
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    text-transform: none;
    width: 1200px;
}
table.roots td{
	padding:5px;
	vertical-align: top;
}
table.roots{
	width:100%;
}
.logo {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    float: left;
    height: 95px;
    margin: 0 0 0 -40px;
    padding: 0;
    width: 321px;
}
.menu_area a span {
    display: block;
}
.menu_area a:hover {
    color: #ffffff;
}
.menu_area a.general {
    background-repeat: no-repeat;
    color: #5a5a5a;
    float: left;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: lowercase;
    width: 130px;
}

/* Объявления */
.items div.advertList .redact{
    float:right;
}
.items div.advertList{
    padding:3px;
    min-height: 60px;
    box-shadow:none;
}

a.send_mail{
    border: 1px solid #b9d7d4;
    border-radius: 5px;
    color: #406a9d;
    display: block;
    height: 27px;
    margin: 5px auto 0;
    padding: 5px 0 0 10px;
    width: 200px;
}

div.mes_list{
    border-bottom:1px solid #C3D2DC;
    padding:5px;
}

div.mes_dialog{
    border-top:1px solid #C3D2DC;
    padding:5px;
}

div.dialog{
    border-radius:5px;
    border:1px solid #C3D2DC;
    padding:5px;  
    margin-top:10px;
}

dd {
    margin-left: 200px;
}
dt{
    float: left;
    width: 200px;
}

/* Просмотр объявления */
.advert_full .title{
    font-size:25px;
}
.advert_full .date i{
    margin-right:3px;
}
.advert_full .date span{
    padding:3px 20px;
}
.advert_full .date{
    background:#F8FBE6;
    height:25px;
    border-top:1px dashed #b9d7d4;
    border-bottom:1px dashed #b9d7d4;
    padding-top:10px;
}


/* Меню */

#genMenu ul{
    margin:0px;
}
#genMenu li i{
    padding-right:4px;
}
#genMenu li{
    list-style-type: none;
    padding:4px 0;
}
.menu_area{
    float: left;
    margin: 20px 0 0;
    padding: 0;
}
.menu_area a.menu_text {
    color: #ffffff;
    font-family: Arial;
    font-size: 10px;
    font-variant: normal;
    font-weight: normal;
    padding-left: 3px;
    text-decoration: none;
    text-transform: none;
}
.ideas {
    background-image: url("../images/menu_01.png");
    background-repeat: no-repeat;
    color: #5a5a5a;
    float: left;
    font-family: Arial;
    font-size: 31px;
    font-weight: normal;
    height: 70px;
    margin: 0;
    padding: 10px 0 0 61px;
    text-decoration: none;
    text-transform: lowercase;
    width: 150px;
}
.links {
    background-image: url("../images/menu_02.png");
    background-repeat: no-repeat;
    color: #5a5a5a;
    float: left;
    font-family: Arial;
    font-size: 31px;
    font-weight: normal;
    height: 70px;
    margin: 0;
    padding: 10px 0 0 59px;
    text-decoration: none;
    text-transform: lowercase;
    width: 150px;
}
.info {
    background-image: url("../images/menu_03.png");
    background-repeat: no-repeat;
    color: #5a5a5a;
    float: left;
    font-family: Arial;
    font-size: 31px;
    font-weight: normal;
    height: 70px;
    margin: 0;
    padding: 10px 0 0 60px;
    text-decoration: none;
    text-transform: lowercase;
    width: 150px;
}
.works {
    background-image: url("../images/menu_04.png");
    background-repeat: no-repeat;
    color: #5a5a5a;
    float: left;
    font-family: Arial;
    font-size: 31px;
    font-weight: normal;
    height: 70px;
    margin: 0;
    padding: 10px 0 0 60px;
    text-decoration: none;
    text-transform: lowercase;
    width: 150px;
}
#search_strip {
    background-position: center center;
    background-repeat: no-repeat;
    color: #dcd66e;
    float: none;
    font-family: Tahoma;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    height: 38px;
    line-height: normal;
    margin: 0 auto;
    padding: 5px 0 0;
    text-decoration: none;
    text-transform: none;
    width: 1200px;
}
#search_strip form {
    display: block;
    margin: 0 auto;
    width: 760px;
}
#search_strip input {
    margin: 1px;
}
.free:hover {
    background-image: url("../images/registration.png");
    background-position: right center;
    background-repeat: no-repeat;
    color: #000000;
    float: left;
    font-family: "Arial Black";
    font-size: 33px;
    font-weight: normal;
    height: 48px;
    margin: 0 5px 0 0;
    padding: 0 53px 0 0;
    text-decoration: none;
}
.searchtextbox:hover {
    border: 1px solid #333333;
    color: #000000;
    float: left;
    font-family: Arial;
    font-size: 10px;
    font-weight: normal;
    height: 18px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: 158px;
}
.go:hover {
    background-image: url("../images/go1.png");
    background-repeat: no-repeat;
    color: #ffffff;
    float: left;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    height: 18px;
    margin: 0;
    padding: 4px 0 0;
    text-decoration: none;
    width: 34px;
}
.advancesearch:hover {
    color: #000000;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    text-transform: none;
}
#body_area {
    clear: both;
    font-family: Tahoma;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    line-height: normal;
    margin: 0 auto;
    padding: 15px 0;
    text-decoration: none;
    text-transform: none;
    width: 1200px;
}
.left {
    border-right: 1px dashed #b9d7d4;
    float: left;
    height: 100%;
    margin: 0;
    min-height: 500px;
    overflow: hidden;
    padding: 0 0 0 10px;
    width: 200px;
}
.left_menu_area {
    float: left;
    height: 320px;
    margin: 0;
    padding: 0;
    width: 153px;
}
.left_menutop {
    background-image: url("../images/menu_top.png");
    background-repeat: no-repeat;
    float: left;
    height: 1px;
    margin: 0;
    padding: 0;
    width: 153px;
}
.left_menu:hover {
    background-image: url("../images/menu_hover.png");
    background-repeat: no-repeat;
    color: #da2a2a;
    float: left;
    font-family: Arial;
    font-size: 11px;
    font-variant: normal;
    font-weight: bold;
    height: 20px;
    margin: 0;
    padding: 5px 15px 0 0;
    text-decoration: none;
    width: 138px;
}
.comment_head {
    background-image: url("../images/comments.png");
    background-position: 20px 8px;
    background-repeat: no-repeat;
    color: #d0910b;
    float: left;
    font-family: Georgia;
    font-size: 22px;
    font-weight: normal;
    margin: 0;
    padding: 0 0 20px 23px;
    text-decoration: none;
    text-transform: none;
    width: 130px;
}
.comments_area {
    float: left;
    margin: 0;
    padding: 0;
    width: 150px;
}
.comments_text {
    color: #386060;
    float: left;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    margin: 0;
    padding: 0 0 10px;
    text-decoration: none;
    width: 153px;
}
.comments_link {
    color: #9ca27e;
    font-family: Arial;
    font-size: 10px;
    font-weight: normal;
    text-decoration: underline;
    text-transform: none;
}
.comments_link:hover {
    color: #386060;
    font-family: Arial;
    font-size: 10px;
    font-weight: normal;
    text-decoration: underline;
    text-transform: none;
}
div.row{margin:0px;}
.Services_head {
    background-image: url("../images/services.png");
    background-position: 45px 8px;
    background-repeat: no-repeat;
    color: #d0910b;
    float: left;
    font-family: Georgia;
    font-size: 22px;
    font-weight: normal;
    margin: 20px 0 0;
    padding: 0 0 20px 23px;
    text-decoration: none;
    text-transform: none;
    width: 130px;
}
.midarea {
    float: left;
    margin: 0;
    padding: 0 10px;
    width: 760px;
}
.readmore:hover {
    background-image: url("../images/readmore1.png");
    background-repeat: no-repeat;
    color: #ffffff;
    float: right;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    height: 18px;
    margin: 0;
    padding: 4px 0 0;
    text-decoration: none;
    width: 74px;
}
.right {
    border-left: 1px dashed #b9d7d4;
    float: left;
    margin: 0;
    min-height: 500px;
    padding: 0 10px;
    width: 180px;
}
.events_head {
    background-image: url("../images/events.png");
    background-repeat: no-repeat;
    color: #d0910b;
    float: left;
    font-family: Georgia;
    font-size: 22px;
    font-weight: normal;
    margin: 0;
    padding: 2px 0 20px 35px;
    text-decoration: none;
    text-transform: none;
    width: 135px;
}
.login_area {
    float: left;
    margin: 0;
    padding: 0 0 15px;
    width: 150px;
}
.login_top {
    background-image: url("../images/login_01.png");
    background-repeat: no-repeat;
    float: left;
    height: 5px;
    margin: 0;
    padding: 0;
    width: 146px;
}
.login_bottom {
    background-image: url("../images/login_03.png");
    background-repeat: no-repeat;
    float: left;
    height: 5px;
    margin: 0;
    padding: 0;
    width: 146px;
}
.login_bodyarea {
    background-attachment: scroll;
    background-image: url("../images/login_02.png");
    background-repeat: repeat-y;
    float: left;
    margin: 0;
    padding: 0 0 10px 6px;
    width: 140px;
}
.right_head {
    background-image: url("../images/right_head.png");
    background-repeat: no-repeat;
    color: #ffffff;
    float: left;
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
    height: 17px;
    margin: 0;
    padding: 3px 0 10px;
    text-decoration: none;
    width: 131px;
}
.right_textbox {
    color: #ffffff;
    float: left;
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
    height: 17px;
    margin: 0;
    padding: 3px 0 10px;
    text-decoration: none;
    width: 131px;
}
.right_text {
    color: #d5ca89;
    float: left;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    height: 17px;
    margin: 0;
    padding: 3px 0 10px;
    text-decoration: none;
    width: 131px;
}
.righttextbox {
    border: 1px solid #999999;
    color: #000000;
    float: left;
    font-family: Arial;
    font-size: 10px;
    font-weight: normal;
    height: 18px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: 128px;
}
.righttextbox:hover {
    border: 1px solid #333333;
    color: #000000;
    float: left;
    font-family: Arial;
    font-size: 10px;
    font-weight: normal;
    height: 18px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: 128px;
}
.login {
    background-image: url("../images/login_button.png");
    background-repeat: no-repeat;
    color: #070808;
    float: right;
    font-family: Arial;
    font-size: 10px;
    font-weight: normal;
    height: 18px;
    margin: 0 5px 0 0;
    padding: 3px 0 0;
    text-decoration: none;
    width: 48px;
}
.login:hover {
    background-image: url("../images/login_button1.png");
    background-repeat: no-repeat;
    color: #070808;
    float: right;
    font-family: Arial;
    font-size: 10px;
    font-weight: normal;
    height: 18px;
    margin: 0 5px 0 0;
    padding: 3px 0 0;
    text-decoration: none;
    width: 48px;
}
.newletter_head {
    background-image: url("../images/newlinks.png");
    background-position: 0 3px;
    background-repeat: no-repeat;
    color: #d0910b;
    float: left;
    font-family: Georgia;
    font-size: 22px;
    font-weight: normal;
    margin: 0;
    padding: 2px 0 20px 25px;
    text-decoration: none;
    text-transform: none;
    width: 135px;
}
.news_link {
    color: #9ca27e;
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
    text-decoration: underline;
    text-transform: none;
}
.news_link:hover {
    color: #386060;
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
    text-decoration: underline;
    text-transform: none;
}
#fotter {
    background-attachment: scroll;
    background-image: url("../images/fotter.jpg");
    background-position: center top;
    background-repeat: repeat-x;
    color: #c5a873;
    float: left;
    font-family: "Trebuchet MS";
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    height: 123px;
    line-height: normal;
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    text-transform: none;
    width: 100%;
}
.fotter_links {
    color: #202219;
    float: left;
    font-family: Arial;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 20px;
    line-height: normal;
    margin: 0;
    padding: 15px 0 0;
    text-decoration: none;
    text-transform: none;
    width: 100%;
}
.fotter_copyrights {
    color: #b17a04;
    float: left;
    font-family: "Trebuchet MS";
    font-size: 10px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 20px;
    line-height: normal;
    margin: 0;
    padding: 5px 0 2px;
    text-decoration: none;
    text-transform: none;
    width: 100%;
}
.fotter_validation {
    color: #c75c2c;
    float: left;
    font-family: "Trebuchet MS";
    font-size: 9px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 20px;
    line-height: normal;
    margin: 0;
    padding: 5px 0 0;
    text-decoration: none;
    text-transform: none;
    width: 100%;
}
a.fotterlink:link {
    color: #202219;
    font-family: Arial;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: normal;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    text-transform: none;
}
a.fotterlink:hover {
    color: #b17a04;
    font-family: Arial;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: normal;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    text-transform: none;
}
a.xhtml:link {
    background-color: #d0910b;
    border: 1px dotted #ffffff;
    clear: none;
    color: #ffffff;
    float: none;
    font-family: Arial;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    height: 20px;
    line-height: normal;
    margin: 0;
    padding: 0 10px;
    text-decoration: none;
    text-transform: none;
    width: 150px;
}
a.xhtml:hover {
    background-color: #386060;
    border: 1px dotted #ffffff;
    clear: none;
    color: #ffffff;
    float: none;
    font-family: Arial;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    height: 20px;
    line-height: normal;
    margin: 0;
    padding: 0 10px;
    text-decoration: none;
    text-transform: none;
    width: 150px;
}
a.css:link {
    background-color: #386060;
    border: 1px dotted #ffffff;
    clear: none;
    color: #ffffff;
    float: none;
    font-family: Arial;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    height: 20px;
    line-height: normal;
    margin: 0;
    padding: 0 20px;
    text-decoration: none;
    text-transform: none;
    width: 100px;
}
a.css:hover {
    background-color: #d0910b;
    border: 1px dotted #ffffff;
    clear: none;
    color: #ffffff;
    float: none;
    font-family: Arial;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    height: 20px;
    line-height: normal;
    margin: 0;
    padding: 0 20px;
    text-decoration: none;
    text-transform: none;
    width: 100px;
}
.fotter_designed {
    color: #3e8f96;
    float: left;
    font-family: Arial;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    height: 20px;
    line-height: normal;
    margin: 0;
    padding: 15px 0 0;
    text-decoration: none;
    text-transform: none;
    width: 100%;
}
.fotter_designedlink {
    color: #1d6369;
    font-family: Arial;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: normal;
    text-decoration: none;
    text-transform: none;
}
.fotter_designedlink:hover {
    color: #b17a04;
    font-family: Arial;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: normal;
    text-decoration: none;
    text-transform: none;
}
.submenu {
    background-repeat: no-repeat;
    color: #9ca27e;
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
    margin: 0;
    padding: 2px 0 0 23px;
    text-decoration: none;
    text-transform: none;
    width: 410px;
}
.submenu:hover {
}
.contactfeild {
    background-color: #fffdfd;
    border: 1px solid #d2e3e9;
    color: #3c4538;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10pt;
    height: 20px;
}
.submitbutton:hover {
    background-color: #d0910b;
    border: 1px dotted #ffffff;
    clear: none;
    color: #ffffff;
    cursor: pointer;
    float: none;
    font-family: Arial;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    height: 20px;
    line-height: normal;
    margin: 0;
    padding: 0 20px;
    text-decoration: none;
    text-transform: none;
    width: 100px;
}
.contactinput:hover {
    background-color: #fffdfd;
    border: 1px solid #d2e3e9;
}
.listbox:hover {
    background-color: #fffdfd;
    border: 1px solid #d2e3e9;
    height: 20px;
    width: 174px;
}
